/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

.container{
	/*extra settings for the container*/
	width: 1050px;
	margin: auto;
	//background-color: rgb(196,182,181);	
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.h1 {
	font: normal 14px "Arvo";
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.bodyStyle {
	//background-color:black;
	font: normal 14px "Arvo";
}


.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

div#TopLevelFrame {
	width: 800px;
	min-width: 300px;
	border: 1px solid silver;
	margin: 0 auto; /* standardkonforme horizontale Zentrierung */
}

div#Details {
	
	margin-left: 20em;
	min-height: 400px;
	max-height: 500px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
	border-left: 1px da

}

div#Navigator {
	
	background: #f4f4f4;
	float: left;
	width: 18em;
	min-height: 580px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
}

div#Extra {
	clear: both;
	padding: 10px 0;
	margin: 0 auto; 
	border-top: 1px silver;
	font-size: 80%;
	text-align: center;
}

.ergebnisButton {
	width: 100px;
	height: 100px;
}

.image {
	
	margin-right: 5px;
	float: bottom;
	width: 75px;
	height: 75px;
}

.flexTable td {
   border: 1px solid #BBBBBB;
   padding: 3px;
}

.flexTable-buttonPanel td {
   border: 0px;
}

.fixedWidthButton {
   width: 150px;
}