<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<!-- wie heißt das Servlet -->
	<servlet>
		<servlet-name>ergebnisdienstServlet</servlet-name>
		<servlet-class>de.hdm.ErgebnisDienst.server.ErgebnisAdministrationImpl</servlet-class>
	</servlet>
	<!-- Container -->
	<servlet-mapping>
		<servlet-name>ergebnisdienstServlet</servlet-name>
		<url-pattern>/HockeyErgebnisDienst/ergebnisdienst</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>HockeyErgebnisDienst.html</welcome-file>
	</welcome-file-list>

</web-app>
